<style>
.rTable {
    display: block;
    width: 100%;
}
.rTableRow {
    display: table-row;
}
.rTableCell { 
    display: table-cell; 
    padding: 3px 10px;
    border: 1px solid #d3d3d6;
    background-color: rgb(236, 246, 247);
}
.rTableCell.number {
    background-color: rgb(253, 253, 253); 
    border: 1px solid #f2f2f3;
}
.rTableCell.name {
    background-color: white; 
    border: 0px;
}
.rTableCell.index { 
   
   background-color: white;
}
.rTableCell.plus { 
   
    background-color: rgb(247, 252, 251);
}
.rTableCell.plus a {
    color: rgb(160, 160, 161);
}
.rTableCell.minus { 
    background-color: rgb(241, 244, 245);
}
.rTableBody {
    display: table-row-group;
}
</style>
<div>
       
       {{month.year}} 
  <h4 id="page-heading">
        <img [src]="imagePathPrevious" *ngIf="counterIsBiggerThan0" (click)="nextMonth(-1)" style="width:3.5%;margin-top: 0%;margin-right:1%;margin-left: 0%">
      <span jhiTranslate="month.home.title">{{month.name}}</span> 
      <img [src]="imagePathNext" (click)="nextMonth(1)" style="width:3.5%;margin-top: 0%;margin-left: 1%">
  </h4>
  
  <div *ngIf="month">
  <table style="border: 1px solid #d3d3d6;">
        <tbody>
                <tr *ngFor="let x of month.m | mapCompositeKey" style="border: 1px solid #d3d3d6;">
                  <td>
                    <div class="rTableCell number">{{x.key.dayNumber}}</div> 
                    <div class="rTableCell name">{{x.key.dayName}}</div>  
                    </td>
                   <td>
                     <div class="rTable">
                        <div class="rTableRow">
                            <div class="rTableCell" *ngFor="let data of x.value">
                           {{data.userId}}
                            </div>
                            <div class="rTableCell plus"> <a href="javascript:void(0);" (click)="addEntity(x.key.dayNumber)">+ </a></div>
                            <div class="rTableCell minus"> <a href="javascript:void(0);" (click)="removeEntity(x.key.dayNumber)">- </a> </div>
                        </div>
                     </div>
                    
                    
                    </td>
                </tr>
               </tbody>
      </table>
   
        <img [src]="imagePathPrevious" *ngIf="counterIsBiggerThan0" (click)="nextMonth(-1)" style="width:3.5%;margin-top: 4%;margin-left: 5%">
     
       <img [src]="imagePathNext" (click)="nextMonth(1)" style="width:3.5%;margin-top: 4%;margin-left: 5%">
      
    </div>
</div>