<style>
.rTable {
    display: block;
    width: 100%;
}
.rTableRow {
    display: table-row;
}
.rTableCell { 
    display: table-cell; 
    padding: 3px 10px;
    border: 1px solid #d3d3d6;
    background-color: rgb(236, 246, 247);
}
.rTableCell.number {
    background-color: rgb(253, 253, 253); 
    border: 1px solid #f2f2f3;
}
.rTableCell.name {
    background-color: white; 
    border: 0px;
}
.rTableCell.index { 
   
   background-color: white;
}
.rTableCell.plus { 
   
    background-color: rgb(247, 252, 251);
}
.rTableCell.plus a {
    color: rgb(160, 160, 161);
}
.rTableCell.minus { 
    background-color: rgb(241, 244, 245);
}
.rTableBody {
    display: table-row-group;
}
</style>
<div>
        {{month.year}}
  <h3 id="page-heading">
      <span jhiTranslate="month.home.title">{{month.name}}</span> 
  </h3>
 
  <table style="border: 1px solid #d3d3d6;">
        <tbody>
                <tr *ngFor="let x of month.m | mapCompositeKey" style="border: 1px solid #d3d3d6;">
                  <td>
                    <div class="rTableCell number">{{x.key.dayNumber}}</div> 
                    <div class="rTableCell name">{{x.key.dayName}}</div>  
                    </td>
                   <td>
                     <div class="rTable">
                        <div class="rTableRow">
                            <div class="rTableCell" *ngFor="let data of x.value">
                           {{data.userId}}
                            </div>
                            <div class="rTableCell plus"> <a href="/{{x.key.dayNumber}}">+ </a></div>
                            <div class="rTableCell minus"> - </div>
                        </div>
                     </div>
                    
                    
                    </td>
                </tr>
               </tbody>
      </table>

      <img [src]="imagePathNext" (click)="nextMonth()" style="width:4%;margin-top: 4%;margin-left: 5%">
      
   
</div>